// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// input[type="date"]::-webkit-calendar-picker-indicator {
//     display: none;
// }

input[type='date']{position:relative;}
::-webkit-calendar-picker-indicator{position:absolute;}
::-webkit-calendar-picker-indicator{right:0; padding:0;}