// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// input[type="date"]::-webkit-calendar-picker-indicator {
//     display: none;
// }

input[type='date']{position:relative;}
::-webkit-calendar-picker-indicator{position:absolute;}
::-webkit-calendar-picker-indicator{right:0; padding:0;}

.datatable
{
  font-family: verdana;
  border: 1px solid #6099ee !important;
}

.datatable td, .datatable th
{
  font-size: 12px;
  border: 2px solid #6099ee;
}

.datatable .project-name
{
  font-size: 16px;
}

.datatable .table-headers
{
  font-size: 12px;
  background: #6099ee;
  color: white;
}
